@model LabelUp_Admin.Models.tbl_Estampas

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Estampa @Model.Nombre</h2>

<h3>Confirma que desea eliminar la estampa?</h3>
<div>  

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-info" })
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </div>
    }
</div>
