@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right LoginPosition", @Style = "Color:black;" }))
    {
        @Html.AntiForgeryToken()

        <ul class="botoneralogin">
            <li>
                @Html.ActionLink("Hola: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @Class = "font-userName  fc-login" })
            </li>
            <li><a  class="fc-login font-userName " href="javascript:document.getElementById('logoutForm').submit()">| Cerrar sesión</a></li>
        </ul>
    }
}
else
{    
<ul class="botoneraRegistro LoginPosition">
    <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @Class= "fc-login" })</li>
    <li>@Html.ActionLink("| Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @Class = "fc-login" })</li>
</ul>
}
